
.footer {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  height: 100px;
  width: 100%;
  margin-top: 100px;
}

.text p{
  font-size: 5px;

}
hr.side { border: solid rgb(255, 37, 37);
  border-width: 10px 0 0;
  clear: both; margin-top: 0;
  height: 0;
  margin-bottom: 0;
}
.footer a {
  color: black;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}